<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/downloads">Downloads</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<!-- keep for reference; do not use <li><a href="mailto:person@email.com">email</a></li> -->
	        		<li><a href="https://github.com/trantom">github.com/trantom</a></li>
				</ul>
			</footer>
		</body>
	</html>
